/* @font-face {
    font-family: 'PT Sans';
    src: url(PTSans-Regular.ttf) format('truetype');
} */

@font-face {
    font-family: 'Montserrat';
    src: url("../../assets/fonts/Montserrat-Regular.ttf") format('truetype');
}

$body-font-family: Montserrat;
$mono-font-family: Montserrat;
$link-color: #a10b0a;
$btn-primary-color: #a10b0a;
$sidebar-color: #ede5d6;
$feedback-color: #edaa38;

$nav-width: 100px;
$nav-width-md: 80px;

$content-width: 800px;
$body-background-color: #fffaf6 !default;
$search-background-color: #fffaf6 !default;
$table-background-color: #fffaf6 !default;

.site-nav,
.site-header,
.site-footer {
  width: 100%;

  @include mq(lg) {
    width: 100% !important;
  }
}

.site-header {
    border-bottom: 1px solid #a10b0a;
}

.site-title {
    color: #000 !important;
}

.nav-list {
    .nav-list-item {
        .nav-list-link {
            color: #000 !important;
        }

        .nav-list-expander {
            color: #000 !important;
        }

        .nav-list {
            .nav-list-item {
                .nav-list-link {
                    color: rgba(0, 0, 0, 0.6) !important;
                }
                .active {
                    color: #000 !important;
                }
            }
        }
    }
}

.main {
    @include mq(md) {
      max-width: 100% !important;
    }
}

textarea:focus, input:focus, audio:focus, video:focus, iframe:focus, canvas:focus, progress:focus{
    outline: none;
}

.site-button {
    .icon {
        color: #000;
    }
}

.site-title:hover {
    background-image: none;
}