@font-face {
    font-family: 'PT Sans';
    src: url(PTSans-Regular.ttf) format('truetype');
}

$body-font-family: PT Sans;
$mono-font-family: PT Sans;
$link-color: $blue-000;
$btn-primary-color: $blue-200;
$search-background-color: rgba($feedback-color, 0.4);
$feedback-color: $blue-000;