/* @font-face {
    font-family: 'PT Sans';
    src: url(PTSans-Regular.ttf) format('truetype');
} */

@font-face {
    font-family: 'Montserrat';
    src: url("../../assets/fonts/Montserrat-Regular.ttf") format('truetype');
}

$body-font-family: Montserrat;
$mono-font-family: Montserrat;
$link-color: #5a2338;
$btn-primary-color: #5a2338;
$sidebar-color: #5a2338;
$feedback-color: #a77872;

$nav-width: 100px;
$nav-width-md: 80px;

$content-width: 800px;
$body-background-color: #fffaf6 !default;
$search-background-color: #fffaf6 !default;
$table-background-color: #fffaf6 !default;

.site-nav,
.site-header,
.site-footer {
  width: 100%;

  @include mq(lg) {
    width: 100% !important;
  }
}

.site-title {
    color: #fff !important;
}

.nav-list {
    .nav-list-item {
        .nav-list-link {
            color: #fff !important;
        }

        .nav-list-expander {
            color: #fff !important;
        }

        .nav-list {
            .nav-list-item {
                .nav-list-link {
                    color: #968787;

                    .active {
                        a {
                            color: #fff !important;
                        }
                    }
                }
            }
        }
    }
}

.main {
    @include mq(md) {
      max-width: 100% !important;
    }
}

.icon {
    color: #fff;
}

textarea:focus, input:focus, audio:focus, video:focus, iframe:focus, canvas:focus, progress:focus{
    outline: none;
}