@font-face {
    font-family: 'PT Sans';
    src: url(PTSans-Regular.ttf) format('truetype');
}

$body-font-family: PT Sans;
$mono-font-family: PT Sans;
$link-color: $green-000;
$btn-primary-color: $green-200;
$sidebar-color: rgb($feedback-color / 10%);
$feedback-color: $green-000;

hr {
    margin: $sp-4 0;
  }